@media all and (min-width: 320px) {
  .cards {
    padding: 15px 31px;
  }
  .cards-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-photo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
  }
  .item-block {
    min-width: 300px;
    max-width: 300px;
    outline: 1px solid #222;
    text-align: center;
    margin-top: 10px;
  }
  .item-block:hover {
    outline: 1px solid #ababab;
  }
  .item-block:first-child {
    margin-top: 0;
  }
  .item-photo {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .item-photo img {
    width: 100%;
    height: 240px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .item-photo.sale-top:before,
  .item-photo.sale-hit:before {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 5px 25px;
    color: #fff;
    font-weight: bold;
  }
  .item-photo.sale-top:before {
    content: "Топ";
    background-color: #a26e0e;
  }
  .item-photo.sale-hit:before {
    content: "Хит";
    background-color: #034603;
  }
  .item-title {
    border-top: 2px groove #c1c1c1;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
  .item-title a {
    text-decoration: unset;
    color: #000;
  }
  .item-title a:hover {
    opacity: 0.6;
  }
  .item-desc {
    font: 12px/18px Arial, sans-serif;
    padding: 10px;
    letter-spacing: 1px;
    text-align: justify;
  }
  .item-desc:after,
  .item-desc:before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #888;
    display: block;
    margin: 5px auto;
  }
  .item-btn {
    text-decoration: unset;
    color: #fff;
    background-color: #2b2b35;
    padding: 10px 25px;
    display: inline-block;
    margin: 10px auto;
    font-weight: bold;
    text-transform: uppercase;
  }
  .item-btn:hover {
    opacity: 0.8;
  }
  .price-normal,
  .price-sale {
    display: block;
    text-align: center;
  }
  .price-normal {
    color: #333;
    font: bold 18px/27px Arial, sans-serif;
  }
  .price-normal.sale {
    font: bold 12px/18px Arial, sans-serif;
    text-decoration: line-through;
  }
  .price-sale {
    color: red;
    font: bold 18px/27px Arial, sans-serif;
  }
}
@media all and (min-width: 768px) {
  .cards-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .item-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px 0;
    position: relative;
  }
  .item-block:nth-child(2n) {
    margin-left: 10px;
  }
  .item-block:nth-child(2n+1) {
    margin-right: 10px;
  }
  .item-btn {
    position: absolute;
    bottom: 10px;
    margin: 0;
    right: 10px;
  }
  .item-price {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .item-desc {
    padding-bottom: 60px;
  }
}
@media all and (min-width: 992px) {
  .item-block {
    margin: 0 0 10px 0 !important;
  }
  .item-block:nth-child(3n+2) {
    margin: 0 10px 10px !important;
  }
  .item-block:last-child {
    margin: 0 0 10px 10px !important;
  }
}
